﻿@model IEnumerable<MyMovieHouse.Models.Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div class="body-content">
        <p class="h6">File path: </p>
        @using (Html.BeginForm())
        {

            @Html.TextBox("moviePath")
            <input type="submit" value="Find Movies!" />
        }
    </div>
    

    @if (Model != null)
    {
        Html.RenderPartial("MovieList", Model);
    }
</body>
</html>
