﻿@model IEnumerable<MyMovieHouse.Models.Movie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    @foreach (var item in Model) {
        
     <img class="imgs" src="@item.Poster" width="400" height="400" alt="poster img" />         
               
               
            
     }
    
</body>
</html>
